@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-purple-primary: #2A04B4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-background);
    --foreground: #171717;
  }
}

body {
  background: var(--background);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-infinite-scroll {
  animation: scroll 25s linear infinite;
}
.group:hover .animate-infinite-scroll {
  animation-play-state: paused;
}